/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add your own custom styles below this */

:root {
  color-scheme: light;
}

body {
  @apply bg-slate-50 text-slate-900;
}
